.container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(#fe8c00, white);
  border-radius: 20px;
}
.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 25px;
  text-align: center;
  background: white;
}
.card img {
  margin: 10px;
  width: 150px;
  height: 200px;
}
.pagination {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
